<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- 외부 리소스를 불러오는 역할. html은 위->아래로 읽어들임. 그래서 읽어내는데에 오래 걸리지 않도록 head맨 아래에 위치시킴. -->
    <link rel="stylesheet" href="{{ url_for('static', path='css/main.css') }}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
    />
  </head>
  <body>
    <div id="body">
      <header>
        <h1>
          ❅ * ˚̩͙ *‧₊̊‧ *˚̩͙̩͙ *‧₊̊‧* ˚̩͙ *‧₊̥‧* ˚̩͙ *‧* ˚̩͙̩͙ *‧₊̊‧* ˚̩͙ *‧‧* ˚̩͙ *‧₊̊‧* All about
          Suin * ˚̩͙ *‧₊̊‧* ˚̩͙̩͙ *‧₊̊‧* ˚̩͙ *‧₊̥‧* ˚̩͙ *‧* ˚̩͙̩͙ *‧₊̊‧* ˚̩͙ *‧‧* ˚̩͙ *‧₊̊‧* ❅
        </h1>
      </header>

      <!-- main bubble-->
      <div class="main">
        <a href="https://blog.naver.com/susue_03">
          <div class="main bubble one">blog</div>
        </a>
        <a
          href="https://www.instagram.com/susue_527?igsh=MXc2ZHlnZGk4Mmtydg%3D%3D&utm_source=qr"
        >
          <div class="main bubble two">instagram</div> </a
        ><a href="https://github.com/its-me-meow">
          <div class="main bubble three">github</div>
        </a>
      </div>

      <!-- main information -->
      <div class="information">
        <p class="title">₍♡•͈ᴗ•͈♡₎ ⋆ &nbsp; diary &nbsp;⋆ ₍♡•͈ᴗ•͈♡₎</p>
        <p class="text">
          2024.03.20.WED.<br />
          I just want to go home.<br />
          I'm doing this assignment because I've had a morning class again today
          and I can't be bothered to eat, so I'm spritzing and spritzing and
          spritzing<br />
          and I'm lying in bed and I'm watching You Tube and I'm trying to stay
          awake and I'm doing this assignment.<br />
          Um, it's 4:06 p.m. and I just want to go home!
        </p>
        <br /><br />
        <p class="title">
          ʕ۪ ⸱̼ ·̮ ⸱̼ʔっ ۪ ♡ ⋆ &nbsp; to-do list &nbsp;⋆ ♡ ʕ۪ ⸱̼ ·̮ ⸱̼ʔっ ۪
        </p>
        <ul class="text">
          <li>⭒Think of my cat at home</li>
          <li>⭒Take a 30-question coding test</li>
          <li>⭒Um, I'm out of ideas~~</li>
        </ul>
        <pre class="information-text"><br>
  ꒱
  •́
໒
  𖥔
  ꒱
  •́
໒
  𖥔
        </pre>
      </div>

      <!-- footer -->
      <div class="footer-text">
        <p>
          <i class="fas fa-unlink"></i> This is like unkind Instagram sensibilities. <i class="fas fa-unlink"></i><br />
          If you have any questions, please DM me🙏🏻 @susue_527
        </p>
      </div>
    </div>
  </body>
</html>
